<div class="row">
  <h3>Existing users</h3>
  <input type="text" [(ngModel)]="searchFilter" class="form-control col-2 ml-auto" placeholder="Filter">
</div>


<hr>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Full Name</th>
    <th scope="col">CNP</th>
    <th scope="col">Birthday</th>
    <th *ngIf="loggedUser.roles.includes('ADMIN')"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of filter(users)" [routerLink]="type == 'doctor' ? null : '/user/' + user.cnp" class="{{ type == 'doctor' ? '' : 'clickable'}}">
    <td>{{user.id}}</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.cnp}}</td>
    <td>{{user.birthday}}</td>
    <td *ngIf="loggedUser.roles.includes('ADMIN')" style="position: absolute">
      <span class="remove-label" (click)="removeUser(user)">&times;</span>
    </td>
  </tr>

  <tr *ngIf="users.length == 0">
    <td colspan="4" style="text-align: center">No patients to show</td>
  </tr>
  </tbody>
</table>
