tr.clickable:hover {
  background-color: #8cd6e320;
  cursor: pointer;
}

.row {
  margin-top: 10px;
}

.remove-label {
  color: #d51212;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
}
