<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <h3>Create a new appointment</h3>

    <div class="form-check ml-auto">
      <input class="form-check-input" type="checkbox" value="checked" (click)="toggleNewPatient()" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Unregistered patient?
      </label>
    </div>
  </div>
  <hr>

  <form (submit)="createAppointment()">
    <div class="form-group">
      <label>CNP</label>
      <input type="number" class="form-control" placeholder="1991234567890" name="cnp" [(ngModel)]="cnp" required>
    </div>

    <div id="unregisteredPatient" *ngIf="unregisteredPatient">
      <div class="row form-group">
        <div class="form-group col-6">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="firstName" [required]="unregisteredPatient">
        </div>
        <div class="form-group col-6">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Doe" name="lastName" [(ngModel)]="lastName" [required]="unregisteredPatient">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="assistances">Assistances</label>
      <select multiple class="form-control" id="assistances" name="assistances" [(ngModel)]="selectedAssistances">
        <option *ngFor="let ass of assistances" [value]="ass.id" >{{ass.name}}</option>
      </select>
    </div>

    <div id="date-picker" class="col-6 mx-auto">
      <dl-date-time-picker
        startView="day"
        maxView="year"
        minView="minute"
        minuteStep="30"
        [(ngModel)]="selectedDate"
        name="date"
      >
      </dl-date-time-picker>
    </div>

    <div class="btn btn-outline-primary col-2" (click)="createAppointment()">Save</div>
  </form>
</div>
