<app-navbar></app-navbar>

<div class="container" style="margin-top: 10px;">
  <app-assistance-table [assistances]="assistances" [canCRUD]="!loggedUser.roles.includes('PATIENT')"></app-assistance-table>
</div>
