<div class="mx-auto col-12 col-sm-10 col-md-8 col-lg-6" style="margin-top: 50px">
  <h3>Authentication</h3>
  <hr>

  <form #loginForm="ngForm" (submit)="verifyAccount()">
    <label for="cnp">CNP:</label>
    <input id="cnp" type="text" name="cnp" class="form-control" #cnp ngModel>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" class="form-control" ngModel>

    <div class="form-group col-4 mx-auto">
      <button class="btn btn-primary col-12" type="submit" style="margin-top: 15px">Log In</button>
    </div>
  </form>



</div>

<pre style="position: fixed; left: 40px; top: 40px; background-color: rgba(50, 255, 50, 0.3); padding: 15px;">
For debugging purposes:

CNP: 1970508245039
Password: password
Role: ADMIN

CNP: 1970508245038
Password: password
Role: DOCTOR

CNP: 1970508245037
Password: password
Role: PATIENT
</pre>
