<div #modalSave class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Assign a password</h5>
      <button type="button" (click)="closeModal()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Assistance Description</label>
        <input type="text" class="form-control col-12" [(ngModel)]="assistanceToSave.name">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control col-12" [(ngModel)]="assistanceToSave.price">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>

<div class="row">
  <h3>Assistances</h3>
  <button class="btn btn-outline-primary ml-auto" *ngIf="canCRUD" (click)="showModal()" >Create New</button>
</div>
<br>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Type</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ass of assistances" [class]="canCRUD ? 'clickable' : ''" routerLink="{{ canCRUD ? '/assistance/' + ass.id : '#' }}">
    <th scope="row">{{ ass.id }}</th>
    <td>{{ ass.name }}</td>
    <td>{{ ass.price | currency }}</td>
  </tr>
  </tbody>
</table>
