tr.clickable:hover {
  background-color: #8cd6e320;
  cursor: pointer;
}

.modal-dialog {
  position: absolute;
  display: none;
  z-index: 10000;
  left: 30%;
  right: 30%;
  background-color: #b2b2b210;
}
