<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <h3>Patient Details</h3>

    <button class="btn btn-outline-success ml-auto" *ngIf="!loggedUser.roles.includes('PATIENT')" (click)="download()">Download Report</button>
  </div>
  <hr>

  <table class="table" *ngIf="patient">
    <tbody>

    <tr>
      <th>#</th>
      <td colspan="2">{{patient.id}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
    </tr>
    <tr>
      <th>CNP</th>
      <td colspan="2">{{patient.cnp}}</td>
    </tr>
    <tr>
      <th>Birthday</th>
      <td colspan="2">{{patient.birthday}}</td>
    </tr>
    <tr>
      <th>Appointment Count</th>
      <td colspan="2">{{appointmentHistory.length}}</td>
    </tr>

    </tbody>

  </table>

  <table class="table" *ngIf="report">
    <tbody>
      <tr>
        <th>Total</th>
        <th>Last Year</th>
        <th>Last Month</th>
        <th>Last Day</th>
      </tr>
      <tr>
        <td>{{report.totalAmount}}</td>
        <td>{{report.lastYear}}</td>
        <td>{{report.lastMonth}}</td>
        <td>{{report.lastDay}}</td>
      </tr>
    </tbody>

  </table>

  <app-appointment-table [appointments]="appointmentHistory" [canCreateNew]="false"></app-appointment-table>
</div>
