<div *ngIf="isVisible" class="card col-3" [ngClass]="style" [@onClose]="animationBegin ? 'invisible' : 'visible'">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ body }}</p>
  </div>
</div>
