<div class="row">
  <h3>Appointments</h3>

  <div *ngIf="canCreateNew" class="btn btn-outline-primary ml-auto col-2" routerLink="/appointment/new">New Appointment</div>
  <input type="text" [(ngModel)]="searchFilter" class="form-control col-2" style="margin-left: 10px;" placeholder="Filter">
</div>

<hr>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Patient</th>
    <th scope="col">CNP</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let app of filter(appointments)" routerLink="/appointment/{{ app.id }}" class="clickable">
    <th scope="row">{{ app.id }}</th>
    <td>{{ app.time | date }}</td>
    <td *ngIf="app.registeredPatient">{{ app.patient.firstName }} {{ app.patient.lastName }}</td>
    <td *ngIf="app.registeredPatient">{{ app.patient.cnp }}</td>

    <td *ngIf="!app.registeredPatient">{{ app.unregisteredPatient.firstName }} {{ app.unregisteredPatient.lastName }}</td>
    <td *ngIf="!app.registeredPatient">{{ app.unregisteredPatient.cnp }}</td>
  </tr>

  <tr *ngIf="appointments.length == 0">
    <td colspan="4" style="text-align: center">No appointments to show</td>
  </tr>
  </tbody>
</table>
