<app-navbar></app-navbar>
<br>
<div class="container" *ngIf="assistance">
  <div class="row">
    <h3>Assistance Details</h3>

    <button class="btn btn-outline-success ml-auto col-1" style="margin-right: 10px" (click)="saveAssistance()">Save</button>
    <button class="btn btn-outline-danger col-1" (click)="removeAssistance()">Remove</button>
  </div>

  <br>

  <div class="form-group col-6 mx-auto">
    <label>Assistance description</label>
    <input type="text" class="form-control" placeholder="Assistance description" [(ngModel)]="assistance.name">
  </div>
  <div class="form-group col-6 mx-auto">
    <label>Price</label>
    <input type="number" class="form-control" placeholder="Price" [(ngModel)]="assistance.price">
  </div>

</div>
