<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container">
   <a class="navbar-brand" routerLink="/">Your Medical Office Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
       </li>
       <li class="nav-item" *ngIf="!loggedUser.roles.includes('ADMIN')">
         <a class="nav-link" routerLink="/appointment" routerLinkActive="active">Appointments</a>
       </li>
       <li class="nav-item" *ngIf="!loggedUser.roles.includes('ADMIN')">
         <a class="nav-link" routerLink="/assistance" routerLinkActive="active">Assistances</a>
       </li>
       <li class="nav-item" *ngIf="loggedUser.roles.includes('DOCTOR') || loggedUser.roles.includes('ADMIN')">
         <a class="nav-link" routerLink="/patient" routerLinkActive="active">Patients</a>
       </li>
       <li class="nav-item" *ngIf="loggedUser.roles.includes('ADMIN')">
         <a class="nav-link" routerLink="/doctor" routerLinkActive="active">Doctors</a>
       </li>
       <li class="nav-item" *ngIf="loggedUser.roles.includes('ADMIN')">
         <a class="nav-link" (click)="openCreateDoctorModal()">Create New</a>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li class="nav-item">
         <a class="nav-link" target="_blank" href="https://bitbucket.org/paulcosma97/your-medical-office-manager/issues?status=new&status=open">Bug Report</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" (click)="logout()">Logout</a>
       </li>
     </ul>
   </div>
 </div>
</nav>

<div #modalSave class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Doctor details</h5>
      <button type="button" (click)="closeCreateDoctorModal()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">

        <div class="col-6">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="firstName">
        </div>

        <div class="col-6">
          <label>Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="lastName">
        </div>
      </div>

      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password">

      <label>CNP</label>
      <input type="number" class="form-control" [(ngModel)]="cnp">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="createDoctor()">Save</button>
      <button type="button" class="btn btn-outline-secondary" (click)="closeCreateDoctorModal()">Cancel</button>
    </div>
  </div>
</div>
