<app-navbar></app-navbar>

<div #modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Confirmation</h5>
      <button type="button" (click)="closeModal()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove this appointment?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="removeAppointment()">Remove</button>
      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>

<div #modalSave class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Assign a password</h5>
      <button type="button" (click)="closeModalSave()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="password">Password</label>
      <input type="password" class="form-control col-12" id="password" [(ngModel)]="password">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="savePatient()">Save</button>
      <button type="button" class="btn btn-outline-secondary" (click)="closeModalSave()">Cancel</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="appointment">

  <div class="row">
    <h3>Appointment Details</h3>
    <div *ngIf="!loggedUser.roles.includes('PATIENT')" class="btn btn-outline-danger ml-auto col-2" style="margin-right: 10px" (click)="showModal()">Remove</div>
    <div *ngIf="!appointment.registeredPatient && !loggedUser.roles.includes('PATIENT')" class="btn btn-outline-success col-2" (click)="showModalSave()">Save Patient</div>
  </div>
  <hr>

  <table class="table">
    <tbody>

    <tr>
      <th>Doctor</th>
      <td>{{appointment.doctor.cnp}}</td>
      <td>{{appointment.doctor.firstName}} {{appointment.doctor.lastName}}</td>
    </tr>
    <tr *ngIf="appointment.registeredPatient">
      <th>Patient</th>
      <td>{{appointment.patient.cnp}}</td>
      <td>{{appointment.patient.firstName}} {{appointment.patient.lastName}}</td>
    </tr>
    <tr *ngIf="!appointment.registeredPatient">
      <th>Patient</th>
      <td>{{appointment.unregisteredPatient.cnp}}</td>
      <td>{{appointment.unregisteredPatient.firstName}} {{appointment.unregisteredPatient.lastName}}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{appointment.time | date:'medium' }}</td>
      <td></td>
    </tr>
    </tbody>

  </table>

  <app-assistance-table [assistances]="appointment.assistances"></app-assistance-table>

</div>
